# .gitignore

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary or cached files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.cache

# Ignore IDE/Editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore node modules (for Node.js projects)
node_modules/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore application specific files
.env
.env.example
config/local_settings.py
*.pem

# Ignore build files (if you're building your application for deployment)
/dist
/build

